/bin-debug
/Budget
/WorkloadWorkstream
/WorkloadBOD
/WorkloadAdvanced
/WorkforceWorkstream
/WorkforceBOD
/WorkforceAdvanced
/WorkforceSupplyDemand
/SBSE
/SBSEWorkforcePOD
/SBSESupplyDemand
/SBSEWorkloadAdvanced
/SBSEWorkforceAdvanced
